@model hr.web.dto.Department.UpdateDepartmentDto.UpdateDepartmentDto

<form asp-action="Update">

    <div class="row">
        <input asp-for="Id" type="hidden" />
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-control">Department Name</label>
                <input required asp-for="Name" class="form-control" />
            </div>

        </div>

    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-danger">Back</a>
</form>